* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

header {
  padding: 9px 200px;
  width: 100%;
  background-color: #343A40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  & > span {
    color: white;
    font-size: 14px;
  }
  & > input {
    height: 27px;
    width: 140px;
    font-size: 15px;
  }
  & > input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

h5 {
  text-align: center;
  font-weight: 600;
}

.content {
  margin: 20px 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & div {
    width: 30%;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
    cursor: pointer;
  }
  & img {
    width: 100%;
  }
  & p {
    font-size: 13px;
    font-weight: 700;
    color: #3f9afb;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.aboutMovie {
  &
  & li {
    background-color: aquamarine;
    color: red;
    border: 1px solid red;
  }
}

footer {
  padding: 15px 0;
  background-color: rgb(41, 41, 41);
  & p {
    color: white;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0;
  }
}
